<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<groups>
<run>
<exclude name="groups1"></exclude>
</run>
</groups>
  <test thread-count="5" name="Test1">
    <classes>
     
      <class name="projecttesting.priority"/>
      <class name="projecttesting.testsuite"/>
      <class name="projecttesting.beforeafter"/>
    </classes>
  </test> <!-- Test --> 


   <test thread-count="5" name="Test2">
    <classes>
      <class name="projecttesting.example"/>
      <class name="projecttesting.priority"/>
      <class name="projecttesting.beforeafter">
      <methods>
        <exclude name="m3"></exclude>
      </methods>
      </class>
    </classes>
  
  </test> <!-- Test --> 
</suite> <!-- suite --> 



   
